{% extends 'SiteDataBundle:Default:base.html.twig' %}

{% block first %}
    <h2>This is example of DOMCrawler from html page</h2>
    <h4><a href="http://www.olala.co.rs/orders/">http://www.olala.co.rs/orders/</a></h4>
    <br />
    <div style="float: left; border-color: chocolate; margin-right: 10px; width: 30%">
        <a href="{{ path('select') }}">Go to navigation page</a>
    </div>
{% endblock %}

{% block form %}
    <br />
    <ul id="showData">

        {% for array in showData %}
            <div style="float: left; border-color: chocolate; margin-right: 10px; width: 30%">
               <h3>Data about article from html page:</h3>
                <div style="float: left; margin-right: 50px;">
                    <img src={{ array[3] }} style="width:100px;height:100px">
                </div>
                <div class="form-group" style="float: left">
                    {% for item in array %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br />

    </ul>

    <br />

    <div style="float: left; margin: 30px">
        <br />
        Html iz forme je:
        <br />
        {{ html }}
    </div>
{% endblock %}