{% extends 'SiteDataBundle:Default:base.html.twig' %}

{% block first %}
    <h2>This is example of DOMCrawler from html</h2>
    <br />
    <div style="float: left; border-color: chocolate; margin-right: 10px; width: 30%">
        <a href="{{ path('select') }}">Go to navigation page</a>
    </div>
{% endblock %}

{% block form %}
    <br />
    <ul id="showData">
        {% for array in showData %}

                <div>
                    <h3>Data from html:</h3>
                    {% for item in array %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </div>
                <br />

        {% endfor %}
    </ul>


    <br />

    {#Html iz forme je:
    <br />
    {{ html }}#}
{% endblock %}