{% extends 'SiteDataBundle:Default:base.html.twig' %}

{% block first %}
    <h1>Your choice</h1>
{% endblock %}

{% block form %}
<ul>
    <div>
        <li><a href="{{ path('select_link') }}">Read from URL</a></li>
    </div>
    <br />
    <div>
        <li><a href="{{ path('select_read') }}">Read from http</a></li>
    </div>
</ul>

<div>
    <p>If there is not predefined HTTP code then use this:</p>

<pre>
    <textarea style="width: 300px; height: 300px">
        <!DOCTYPE html>

        <head>
            <title>Naslov</title>
        </head>
        <body>
        bbb bbbbbb
        <p class="message">Hello World!</p>
        <h2>Example dddddddd</h2>
        <p>Hello Crawler!</p>

        <p class="message">Hello World2!</p>
        <p>Hello Crawler2!</p>

        <h2>Example dddddddd eeeeee</h2>

        <p class="message">Hello World3!</p>
        <p>Hello Crawler3!</p>

        <p class="message">Hello World4!</p>
        <p>Hello Crawler4!</p> </body>

        </html>
    </textarea>
</pre>
</div>

{% endblock %}